{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <br>
    <br>
    <br>
    <br>
    <h2>About Us</h2>
    <p>Welcome to our online shop! We specialize in providing a wide range of products including gadgets,</p>
    <p> appliances, liquor, protein powders, shoes, and more. Our mission is to deliver quality products with excellent customer service.</p>

    <h2>Our History</h2>
    <p>Founded in 2024, our shop has grown from a small local store to a leading online retailer in Cavite </p><p>State University Bacoor Campus. We are proud to serve thousands of customers with our diverse product selection and competitive prices.</p>

    <h2>Our Vision</h2>
    <p>To become the preferred choice for online shopping by offering an exceptional shopping experience, innovative products, and reliable service.</p>
</div>
    {% endblock content %}

